# Data Science Tools and Ecosystem

In this notebook, we will get familiarized with some basic data science tools

**Objectives :**

- Discover some of the Libraries used in Data Science.
- Use Markdown to create table.
- List languages used in data science.
- Convert minutes to hours using code cells.
- Use unordered list in markdown.

Let's start with the most commonly used languages in data science:
1. Python
2. R
3. SQL

Many libraries are used in data science. Some of them are :

1. Pandas
2. Matplotlib
3. Keras
4. Scikit-learn

| Data Science Tools |
| --- |
| Jupyter Notebooks |
| R studio |
| GitHub |

### Below are a few examples of evaluating arithmetic expressions in Python.
---

In [40]:
# This a simple arithmetic expression to mutiply then add integers. 
(3*4)+5

17

In [43]:
# his will convert 200 minutes to hours by diving by 60
minutes = 200
hours = 200/60
print (hours)

3.3333333333333335

## Author
LEMNAOUER IMED EDDINE